:root {
  --primary-color: #fab063;
  --background-color: #f9faff;
  --secondary-color: #fdeace;
  --third-color: #e89a7d;
}
body {
  background-image: url(/img/background-3.svg);
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 32px;
  color: #000000;
}
h2 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 26px;
}
h3 {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 72px;
}
h4 {
  font-family: "Playfair Display";
  font-size: 40px;
  line-height: 150%;
}
h5 {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-color);
}
p {
  font-family: "Nunito";
  font-weight: 400;
  opacity: 70%;
  font-size: 18px;
  line-height: 150%;
}
nav.navbar {
  padding: 0;
  margin: 0;
}
nav a {
  color: black;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav ur {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  display: inline;
  padding-left: 48px;
}
.hero {
  padding: 40px 120px;
}
.breadcrumb {
  margin: 0;
  padding: 0 12px;
}
.logo {
  font-family: "comfortaa";
  font-size: 18px;
  line-height: 180%;
  font-weight: 700;
}
.logo-pic {
  height: 80px;
  padding-left: 10px;
}

.nav-link {
  font-family: "raleway";
  font-size: 18px;
  line-height: 80px;
  color: #494949;
}
.navbar {
  padding: 0;
  margin: 0;
}

.btn {
  font-family: "roboto";
  font-size: 18px;
  line-height: 24px;
  padding: 8px 24px;
  transition: all 100ms ease-in-out;
  margin-top: 32px;
}
.btn-brand {
  color: black;
  background: var(--primary-color);
  margin-right: 12px;
  border: solid 2px black;
}
.btn-dark {
  color: var(--primary-color);
  background: black;
  border: solid 2px black;
}
.column {
  margin: 40px 60px;
}
.column-border {
  border-radius: 10px;
  background: white;
  border: 2px solid black;
}
.btn-navigation {
  color: black;
  background: var(--primary-color);
  border: solid 2px black;
  margin: 0 60px 100px 60px;
}
.btn-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: solid 2px black;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 8px 12px;
  font-weight: bold;
}
.card {
  border-radius: 10px;
  border: 2px solid black;
}

.pic {
  border-radius: 8px;
}
.column-text {
  margin: 80px 30px;
}
.active {
  color: var(--primary-color);
  font-weight: bold;
}

.contact-icon {
  width: 2%;
}
.footer-name {
  font-family: "Nunito";
  font-size: 16px;
  opacity: 70%;
  margin-top: 10px;
}
.contact-info {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.contact-link {
  word-wrap: break-word;
  color: black;
  opacity: 70%;
}
.image-credit {
  color: black;
}
.image-credit:hover {
  color: black;
}
.nav-link:hover {
  color: #000000;
  font-weight: bold;
}
.contact-link:hover {
  color: black;
}
.title {
  text-decoration: underline 10px var(--primary-color);
}

.btn:hover {
  font-size: 19px;
  color: black;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
  .logo,
  .menu-bar {
    font-size: 12px;
  }
  .hero {
    text-align: center;
    padding: 30px 60px;
  }
  .column {
    margin: 50px 40px;
    text-align: center;
  }
  .img-wrapper {
    background: none;
  }
}
